---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=3&q=Denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.016 TT 0 0.025"'
    body:
      encoding: UTF-8
      string: |-
        {
            "start": 0,
            "numFound": 0,
            "docs": [],
            "error": "Received None response from run_solr_query",
            "num_found": 0,
            "q": "Denver,co",
            "offset": null
        }
  recorded_at: Mon, 26 Sep 2022 16:33:07 GMT
recorded_with: VCR 6.1.0
