---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=%7B%22location%22=%3E%22denver,co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 06:16:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,co\"}"},"locations":[{"street":"Denver
        Lane","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Louisville-Jefferson
        County","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"KY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"40258","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p3/1485314","unknownInput":"","type":"s","latLng":{"lat":38.17368,"lng":-85.8849},"displayLatLng":{"lat":38.17368,"lng":-85.8849},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api_key>&type=map&size=225,160&locations=38.17368,-85.8849|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-317405013"},{"street":"Denver
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Osage","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"65536","geocodeQualityCode":"B3CCA","geocodeQuality":"STREE[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<whether_api_key>&exclude=minutely,alerts&lat=38.17368&lon=-85.8849&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.1737,"lon":-85.8849,"timezone":"America/Kentucky/Louisville","timezone_offset":-14400,"current":{"dt":1664172968,"sunrise":1664192084,"sunset":1664235296,"temp":60.39,"feels_like":59.74,"pressure":1011,"humidity":77,"dew_point":53.15,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":6.91,"wind_deg":220,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1664172000,"temp":60.39,"feels_like":59.74,"pressure":1011,"humidity":77,"dew_point":53.15,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":6.62,"wind_deg":258,"wind_gust":18.23,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664175600,"temp":59.45,"feels_like":58.66,"pressure":1011,"humidity":76,"dew_point":51.89,"uvi":0,"clouds":60,"visibility":10000,"wind_speed":6.69,"wind_deg":264,"wind_gust":20.65,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664179200,"temp":58.06,"feels_like":57.09,"pressure":1011,"humidity":75,"dew_point":50.2,"uvi":0,"clouds":45,"visibility":10000,"wind_speed":6.6,"wind_deg":255,"wind_gust":17.09,"weather":[{"id":802,"main[...]
